/* @import url('https://fonts.googleapis.com/css?family=Overpass|Inconsolata|Rosario|Poppins|Archivo+Black|Aleo|Dosis|Open+Sans|Montaga|Roboto|Work+Sans|Fredoka+On|Cardo|Muli|Inter|Alegreya+Sans+SC|Alegreya+Sans|Alegreya|Atma|Pompiere&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Overpass|Poppins|Open+Sans|Inter&display=swap');

:root {
    /* font - sizes */
    --smallest: 0.7rem;
    --smaller: 0.8rem;
    --small: 0.9rem;
    --medium: 1.3rem;
    --large: 1.6rem;
    --larger: 2rem;
    --largest: 3rem;

    /* font */
    /* --default: 'Montserrat', sans-serif; */
    /* --read: 'Montaga', serif;
    --readlite: 'Dosis', sans-serif;
    --headline: 'Aleo', serif;
    --tech: 'Inconsolata', monospace;
    --sans: 'Open Sans', sans-serif;
    --koho: 'KoHo', sans-serif; */
    --inter: 'Inter', sans-serif;
    --overpass: 'Overpass', sans-serif;
    --default: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
